<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="ms-5 mt-5" align="center">

        <h2 class="mb-4">
            Book Data information
        </h2>

        <form method="post" action="/editRecord/<%= val._id %>?_method=PUT" method="POST" class="w-25 border border-1 border-secondary-subtle p-3 rounded-4">
            <div class="mb-3 d-flex flex-wrap align-items-center">
                <label for="exampleInputName" class="form-label">Enter Book Name:</label>
                <input type="text" name="book_title" value="<%= val.book_title %>" class="form-control" id="exampleInputName">
            </div>
            <div class="mb-3 d-flex flex-wrap align-items-center">
                <label for="exampleInputEmail1" class="form-label">Author</label>
                <input type="text" name="author" value="<%= val.author %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 d-flex flex-wrap align-items-center">
                <label for="exampleInputPassword1" class="form-label">Price</label>
                <input type="text" name="price" value="<%= val.price %>" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 d-flex flex-wrap align-items-center">
                <label for="exampleInputFile" class="form-label">Category</label>
                <select name="category" value="<%= val.category %>" class="form-control">
                    <option value="Fictional">Fictional</option>
                    <option value="Mystery">Mystrey</option>
                    <option value="Rom-Com">Rom-Com</option>
                    <option value="Horror">Horror</option>
                    <option value="Comedy">Comedy</option>
                </select>
            </div>
            

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/viewBook" class="btn btn-primary ms-3 px-3">View</a>
        </form>
    </div>
</body>

</html>